@model OA_Data.Skill
@{
    ViewData["Title"] = "Details";
}
<h2>Details Skill</h2>

<div>
    <dl class="row">
        <dt class="col-sm-2">Skill Id</dt>
        <dd class="col-sm-10">@Model.Id</dd>

        <dt class="col-sm-2">Skill Name</dt>
        <dd class="col-sm-10">@Model.skillName</dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id ="@Model.Id">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back To List</a>
</div>
